// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.details {
  margin-top: 2em !important;
}

.tasklist {
  padding-top: 2em !important;
}

.task.done {
  background: lightgreen !important;
}

.task.done label {
  text-decoration: line-through;
}

.task.todo {
  background: lightgoldenrodyellow !important;
}

#editor .segment {
  background: lavender !important;
}

.description {
  color: slategray;
  font-style: italic;
}

.icon {
  cursor: pointer;
}
